<div>
	<div class="row">
		<div class="col-md-6">
			<div id="Carousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#Carousel" ng-repeat="image in project.images track by $index" data-slide-to="$index" ng-class="{active : $first}"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner unselectable">
			    <div class="item" ng-repeat="image in project.images track by $index" ng-class="{active : $first}">
			      <img ng-src="{{'projects/' + project.name + '/' + image}}" class="img-responsive carouselImg">
			    </div>
			  </div>

			  <!-- Controls -->
			  <span class="left carousel-control" data-target="#Carousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </span>
			  <span class="right carousel-control" data-target="#Carousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </span>
			</div>
		</div>
		<div class="col-md-6">
			<p>
				{{project.description}}
			</p>
		</div>
	</div>
</div>